html, body { position: relative; min-height: 100%; }

body { padding-top: 50px; margin-bottom: 60px; }

.footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

li.online { font-weight: bold; }
li.offline { color: #c0c0c0; }
a.offline { color: #707070; }
#map {
    width: 500px;
    height: 500px;
    background-image: url(map.png);
}

.dblisting {
	margin-top: 20px;
}